<div class="container-fluid">
  <div class="col-md-4">
    <h1>Novo Ingrediente</h1>

    <%= render 'form', ingredient: @ingredient %>

    <%= link_to 'Voltar', ingredients_path, :class => "btn btn-primary" %>
  </div>
</div>