<div class="container-fluid">
  <div class="col-md-4">
    <h1>Editar Refeição</h1>

    <%= render 'form', meal: @meal %>

    <%= link_to 'Mostrar', @meal, :class => "btn btn-info" %>
    <%= link_to 'Voltar', meals_path, :class => "btn btn-primary" %>
  </div>
</div>