<div class="container-fluid">
  <div class="col-md-4">
    <h1>Nova Refeição</h1>

    <%= render 'form', meal: @meal %>

    <%= link_to 'Voltar', meals_path, :class => "btn btn-default" %>
  </div>
</div>